.contactTitle {
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 30px;
	margin-bottom: 0px;
	color: #ae810d;
}
.contactDescription {
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 15px;
	margin-top: 0px;
}

.contactUs {
	margin-right: 10%;
	margin-left: 10%;
	background-color: #00000030;
	padding: 5% 10% 10% 10%;
	border-radius: 2%;
}
.contactFormTitle {
	color: #ae810d;
}
.typeDescription{
	
}
.formContactUs{
	margin-top: 30px;
}


.form {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
}
.labelBasicData {
	display: contents;
	margin-top: 10px;
}

.otionSelector {
	margin-top: 10px;
}
.otionSelec {
	display: grid;
	grid-template-columns: 5% 95%;
	text-align: start;
	margin-top: 10px;
}

.otionSelec label {
	margin-top: 10px;
}
.otionSelec input {
	margin-top: 10px;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  	background-color: #30333C47;
	color: #625858;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	border-radius: 3px;
  	content: 'Seleccionar'; /* testo por defecto */
	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
}

.file-select input[type="file"] {
  	opacity: 0;
	width: 100px;
	height: 32px;
	display: inline-block;
	cursor: pointer;
}

#src-file1::before {
  	content: 'Attach file';
}

#src-file2::before {
  	content: 'Attach file';
}

.questions {
	display: contents;
}

input[type="checkbox"]:checked {
  	box-shadow: 0 0 0 3px #e8f2e538;
}

input[type="radio"]:checked {
  	box-shadow: 0 0 0 3px #e8f2e538;
}
.contactFormButton {
    font-size: 20px;
    margin: 5% 40% 0% 40%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid black;
}
.contactFormButton:hover {
	cursor: pointer;
}